@model Shared.Dtos.Products.ProductDto

@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants

@{
    ViewBag.Title = Html.LocalizedDisplay(MessageKeyConstants.LABEL_PRODUCT);
}

@section header{
    <div class="header-section-title">
        <h1><i class="@HtmlConstants.FA_IMAGE_CATEGORY"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_PRODUCT)</h1>
        <small>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_PRODUCT)</small>
    </div>
    <img src="/Content/images/admin/admin-cover.jpg" />
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_HOME)</li>
        <li>@Html.LocalizedActionLink(MessageKeyConstants.LABEL_PRODUCT, WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_PRODUCT)</li>
    </ul>
}

<div class="panel">
    <div class="panel-heading">
        <ul class="nav nav-tabs remoteTabs">
            <li class="active"><a href="#form" data-toggle="tab"><i class='fa fa-pencil'></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_FILL_FORM)</a></li>
        </ul>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            if (Model.Id != Guid.Empty)
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.UserCreatorId)
            }
            <div class="form-horizontal">
                @Html.CustomValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2 form-control-title form-control-required" })
                    <div class="col-sm-10">
                        @Html.InlineEditableControl(Html.EditableLabelFor(model => model.Name, new { @class = "form-control-editable form-control-title" }), @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-title" } }))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryReference, new { @class = "control-label col-sm-2 form-control-required" })
                    <div class="col-sm-10">
                        @Html.InlineEditableControl(Html.ReferenceLabelFor(model => model.CategoryReference, null, null, new { @class = "form-control-editable" }), Html.RemoteDropDownListFor(model => model.CategoryId, "/Admin/ProductCategory/GetAllCategoryReferences"))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Url, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.InlineEditableControl(Html.EditableLabelFor(model => model.Url, new { @class = "form-control-editable" }), @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @placeholder = "http://www.address.cz" } }))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.InlineEditableControl(Html.EditableLabelFor(model => model.Description, new { @class = "form-control-editable form-control-textarea" }), @Html.RichTextBoxFor(model => model.Description))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Prize, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.InlineEditableControl(Html.EditableLabelFor(model => model.Prize, new { @class = "form-control-editable" }), @Html.EditorFor(model => model.Prize, new { htmlAttributes = new { @class = "form-control" } }))
                    </div>
                    <div class="col-sm-2">
                        @Html.InlineEditableControl(Html.LocalizedDropDownDisplayFor(model => model.Currency, new { @class = "form-control-editable" }), @Html.LocalizedDropDownListFor(model => model.Currency, new { @class = "form-control" }))
                    </div>
                    @Html.LabelFor(model => model.ShowPrize, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-1">
                        @Html.InlineEditableControl(Html.EditableCheckLabelFor(model => model.ShowPrize, new { @class = "form-control-editable" }), @Html.EditorFor(model => model.ShowPrize, new { htmlAttributes = new { @class = "form-control" } }))
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_SAVE)</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>