@using Shared.Core.Constants
@using Client.Core.HtmlHelpers
@using Shared.I18n.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/images/favicon.png">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css-admin")
</head>
<body>
    <div class="wrapper">
        @Html.Partial(WebConstants.VIEW_MESSAGE)
        <header class="navbar navbar-default">
            <div class="ribbon">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" role="tab" data-toggle="tab">
                            @Html.LocalizedDisplay(MessageKeyConstants.LABEL_HOME)
                        </a>
                    </li>
                    <li>
                        <a href="#dojo" role="tab" data-toggle="tab">
                            @Html.LocalizedDisplay(MessageKeyConstants.LABEL_DOJO)
                        </a>
                    </li>
                    <li>
                        <a href="#administration" role="tab" data-toggle="tab">
                            @Html.LocalizedDisplay(MessageKeyConstants.LABEL_ADMINISTRATION)
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane active" role="tabpanel">
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_USER + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_TEACHER), WebConstants.VIEW_CREATE_PREDEFINED, WebConstants.CONTROLLER_USER, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_TRAINING + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_TRAINING), WebConstants.VIEW_CREATE, WebConstants.CONTROLLER_TRAINING, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_SEMINAR + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_SEMINAR), WebConstants.VIEW_CREATE_PREDEFINED, WebConstants.CONTROLLER_SEMINAR, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                <div class="ribbon-button-group">
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_EVENT + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_EVENT), WebConstants.VIEW_CREATE_PREDEFINED, WebConstants.CONTROLLER_EVENT, null, new { @class = "ribbon-button-sm" })
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_GALLERY + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_GALLERY), WebConstants.VIEW_CREATE_PREDEFINED, WebConstants.CONTROLLER_GALLERY, null, new { @class = "ribbon-button-sm" })
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_BLOG + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_BLOG), WebConstants.VIEW_CREATE_PREDEFINED, WebConstants.CONTROLLER_BLOG, null, new { @class = "ribbon-button-sm" })
                                </div>
                            </li>
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_ADD)
                            </li>
                        </ul>
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_HOME + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_HOME), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_HOME, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                <div class="ribbon-button-group">
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_SEMINAR + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_SEMINARS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_SEMINAR, null, new { @class = "ribbon-button-sm" })
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_TRAINING + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_TRAININGS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_TRAINING, null, new { @class = "ribbon-button-sm" })
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_USER + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_TEACHERS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_USER, null, new { @class = "ribbon-button-sm" })
                                </div>
                            </li>
                            <li>
                                <div class="ribbon-button-group">
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_EVENT + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_EVENTS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_EVENT, null, new { @class = "ribbon-button-sm" })
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_GALLERY + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_GALLERIES), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_GALLERY, null, new { @class = "ribbon-button-sm" })
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_BLOG + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_BLOGS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_BLOG, null, new { @class = "ribbon-button-sm" })
                                </div>
                            </li>
                            <li>
                                <div class="ribbon-button-group">
                                    @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_CATEGORY + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_BLOG_CATEGORIES), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_BLOG_CATEGORY, null, new { @class = "ribbon-button-sm" })
                                </div>
                            </li>
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_VIEWS)
                            </li>
                        </ul>
                        @RenderSection("ribbon", required: false)
                    </div>
                    <div id="dojo" class="tab-pane" role="tabpanel">
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_ORGANISATION + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_ORGANISATION), WebConstants.VIEW_CREATE, WebConstants.CONTROLLER_DOJO, new { id = GuidConstants.DOJO_BUJINKAN_ID }, new { @class = "ribbon-button" })
                            </li> 
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_DOJO)
                            </li>
                        </ul>
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_QUESTION + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_QUESTIONS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_QUESTION, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_VOCABULARY + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_VOCABULARY), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_VOCABULARY, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_LINK + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_LINKS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_LINK, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_VIDEO + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_VIDEO), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_VIDEO, null, new { @class = "ribbon-button" })
                            </li>
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_INFORMATION)
                            </li>
                        </ul>
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_PRODUCT + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_PRODUCTS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_PRODUCT, null, new { @class = "ribbon-button" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_CATEGORY + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_CATEGORY), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_PRODUCT_CATEGORY, null, new { @class = "ribbon-button" })
                            </li>
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_SHOP)
                            </li>
                        </ul>
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_MENU + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_MENU), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_MENU_ITEM, null, new { @class = "ribbon-button" })
                            </li>
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_SETTINGS)
                            </li>
                        </ul>
                    </div>
                    <div id="administration" class="tab-pane" role="tabpanel">
                        <ul class="ribbon-group">
                            <li>
                                @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_ROLE + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_ROLES), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_ROLE, null, new { @class = "ribbon-button" })
                            </li>
                            <li class="ribbon-group-title">
                                @Html.LocalizedDisplay(MessageKeyConstants.LABEL_ADMINISTRATION)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-header">
            @RenderSection("header", required: true)
        </div>
        @RenderSection("breadcrumb", required: false)
        <div id="page-content">
            @RenderBody()
        </div>
    </div>
    <div id="modal-dialogs"></div>
    @Scripts.Render("~/bundles/script-admin")
    @RenderSection("scripts", required: false)
</body>
</html>
