@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants

@{
    ViewBag.Title = Html.LocalizedDisplay(MessageKeyConstants.LABEL_LINK);
}

@section ribbon {
    <ul class="ribbon-group">
        <li>
            @Html.DialogActionLink("<i class='" + @HtmlConstants.FA_IMAGE_LINK + "'></i>" + Html.LocalizedDisplay(MessageKeyConstants.LABEL_ADD_LINK), HtmlConstants.DIALOG_LINK, WebConstants.VIEW_CREATE, WebConstants.CONTROLLER_LINK, null, new { @class = "ribbon-button" })
        </li>
        <li>
            @Html.LocalizedActionLink(@"<i class='" + HtmlConstants.FA_IMAGE_CATEGORY + "'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_CATEGORY), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_LINK_CATEGORY, null, new { @class = "ribbon-button" })
        </li>
        <li class="ribbon-group-title">
            @Html.LocalizedDisplay(MessageKeyConstants.LABEL_LINKS)
        </li>
    </ul>
}

@section header{
    <div class="header-section-title">
        <h1><i class="@HtmlConstants.FA_IMAGE_LINK"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_LINK)</h1>
        <small>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_LINK)</small>
    </div>
    <img src="/Content/images/admin/admin-cover.jpg" />
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_LINK)</li>
        <li>@Html.LocalizedActionLink(MessageKeyConstants.LABEL_LINKS, WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_LINK)</li>
    </ul>
}

<div class="panel">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#form" data-toggle="tab">
                    <i class="fa fa-list"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_LINKS)
                </a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        @Ajax.RemoteContent(WebConstants.VIEW_PAGED_LIST, WebConstants.CONTROLLER_LINK, WebConstants.AREA_ADMIN)
    </div>
</div>