@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants

@{
    ViewBag.Title = Html.LocalizedDisplay(MessageKeyConstants.LABEL_QUESTION);
}

@section ribbon {
    <ul class="ribbon-group">
        <li>
            @Html.DialogActionLink("<i class='" + @HtmlConstants.FA_IMAGE_QUESTION + "'></i>" + Html.LocalizedDisplay(MessageKeyConstants.LABEL_ADD_QUESTION), HtmlConstants.DIALOG_QUESTION, WebConstants.VIEW_CREATE, WebConstants.CONTROLLER_QUESTION, null, new { @class = "ribbon-button" })
        </li>
        <li class="ribbon-group-title">
            @Html.LocalizedDisplay(MessageKeyConstants.LABEL_QUESTIONS)
        </li>
    </ul>
}

@section header{
    <div class="header-section-title">
        <h1><i class="@HtmlConstants.FA_IMAGE_QUESTION"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_QUESTION)</h1>
        <small>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_QUESTION)</small>
    </div>
    <img src="/Content/images/admin/admin-cover.jpg" />
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_HOME)</li>
        <li>@Html.LocalizedActionLink(MessageKeyConstants.LABEL_QUESTIONS, WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_QUESTION)</li>
    </ul>
}

<div class="panel">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#form" data-toggle="tab">
                    <i class="fa fa-list"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_QUESTIONS)
                </a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        @Ajax.RemoteContent(WebConstants.VIEW_PAGED_LIST, WebConstants.CONTROLLER_QUESTION, WebConstants.AREA_ADMIN)
    </div>
</div>